body {
    justify-content: space-evenly;
    background-image: url(https://phantom-elmundo.unidadeditorial.es/c2e17ad03c10190925608e4bc62e7745/resize/1200/f/jpg/assets/multimedia/imagenes/2021/09/20/16321284993130.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-top: 200px;
    margin-top: 100px;
    
}



